<div ng-controller="StoreCtrl as store">
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="product in store.products">
	  	<h3>
	  		{{product.name}}
	  		<em class="pull-right">{{product.price | currency}}</em>
	  		<img ng-src="{{product.images[0].full}}"/>
	    </h3>

	    <section ng-controller="PanelCtrl as panel">
	    	<!-- Tab Navigation -->
	    	<ul class="nav nav-pills">
	    		
	    		<li ng-class="{ active:panel.isSelected(1)}">
	    		  <a href ng-click="panel.selectTab(1)">Description</a>
	    		</li>
	    		
	    		<li ng-class="{ active:panel.isSelected(2)}">
	    		  <a href ng-click="panel.selectTab(2)">Specifications</a>
	    		</li>
	    		
	    		<li ng-class="{ active:panel.isSelected(3)}">
	    		  <a href ng-click="panel.selectTab(3)">Reviews</a>
	    		</li>
	        
	        </ul>
	    	<!-- End of Tab Navigation -->

	    	<!-- Description Panel -->
		    <div class="panel" ng-show="panel.isSelected(1)">
		    	<h4>Description</h4>
		    	<p>{{product.description}}</p>	
		    </div>
		    <!-- End of Description Panel -->

		    <!-- Specifications Panel -->
		    <div class="panel" ng-show="panel.isSelected(2)">
		    	<h4>Specifications</h4>
		    	<blockquote>None yet</blockquote>
		    </div>
		    <!-- End of Specifications Panel -->

		    <!-- Reviews Panel -->
		    <div class="panel" ng-show="panel.isSelected(3)">
		    	<h4>Reviews</h4>
		    	<blockquote>None Yet</blockquote>
		    </div>
		    <!-- End of Reviews Panel -->

	    </section>
	  </li>
	</ul>
</div>